<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864422488150-70uu546nnruc47rldqbp1m8purfl3gsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864422488150-70uu546nnruc47rldqbp1m8purfl3gsq</string>
	<key>API_KEY</key>
	<string>AIzaSyCrptASlo6OcDYfgknu1s4iryZpELrHUvg</string>
	<key>GCM_SENDER_ID</key>
	<string>864422488150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.marcozamora.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-3bc2e</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-3bc2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:864422488150:ios:a44810cd0b2408792e73f7</string>
</dict>
</plist>
